@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jaxon's IS Summary";
}

<h1>Jaxon</h1>

<img src="img/IMG_7146.JPG" width="417" height="500" />

<p>Here is pic of me enjoying 2 of my favorite things: Donuts and Star Wars</p>

<h2>What do I hope to get out of IS 413?</h2>

<p>
    I hope to learn C# well enough to complete
    basic coding tasks and be able to tell employers I know the language. I would also love to become more comfortable
    working with github and all of the git commands.
</p>

<h2>The top #3 jobs I am most interested in pursuing when I graduate:</h2>

<ol>
    <li>Business Analyst for SouthWest Airlines</li>
    <li>Software Developer for Lucasfilm</li>
    <li>Starting my own tech company</li>
</ol>


